body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    width: 100vw;
    height: 100vh;
    font-family: 'Space Mono', monospace; 
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.glow {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    animation: glow 7s infinite alternate;
}

.fl{
  filter: invert(1);
}

@keyframes glow {
    0% { text-shadow: 0 0 10px #808080; }
    50% { text-shadow: 0 0 10px #aaaaaa; }
    100% { text-shadow: 0 0 10px #808080; }
}

.description {
    font-size: 24px;
    font-weight: normal;
    color: #ffffff;
    margin-top: 20px;
}

.star {
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    animation: fall 5s linear infinite;
    box-shadow: 0 0 10px white;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
a img {
    transition: transform 0.3s ease-in-out;
}

a img:hover, a img:active {
    transform: scale(1.3);
}